@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-main-header {
  background-color: #eeeeee;
  height: 64px;
  /* opacity: 0; */ /* Comentado para evitar inconsistencias */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.custom-main-header-title {
  color: #585660;
  font-family: "Area Normal", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.custom-main-header-img img {
  width: 24px;
  height: 24px;
}

.custom-main-sub-header {
  height: 240px;
  padding: 16px;
}

.custom-main-sub-header-title {
  font-family: "Archivo", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.custom-main-sub-header-title-filter {
  text-align: right;
  margin-top: 16px;
}

.custom-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  min-height: 300px;
  padding: 16px;
}

.custom-card {
  width: 100%;
  max-width: 380px;
  /* height: auto; */
  height: 436px;
  max-height: 436px;
  padding: 24px;
  gap: 8px;
  border-radius: 16px;
  background: #ffffff;
  border: 0.5px solid #8f8f8f;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.custom-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 10px;
}

.custom-card-genre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  color: #737373;
  margin-bottom: -10px;
}

.custom-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px 0;
}

.custom-card-name {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.custom-card-price {
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.custom-card-button {
  width: 100%;
  height: 56px;
  padding: 0;
  border-radius: 8px;
  border: 1px solid #3b3b3b;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease;
  color: #3b3b3b;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.custom-card-button:hover {
  background-color: #f0f0f0;
  border-color: #000000;
}

.custom-main-footer {
  width: 100%;
  height: 172.09px;
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.custom-main-footer-information {
  width: 170px;
  height: 44.09px;
  gap: 5.59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-main-footer-img {
  width: 170px;
  height: 44.09px;
  gap: 5.59px;
}

.custom-main-footer-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
